<!doctype html>
<html lang="{{ site:short_locale }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ partial:header/seo }}
    {{ partial:header/verification }}
    {{ feedamic }}
    {{ settings:header_scipts }}
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
  </head>

  <body class="flex flex-col h-screen bg-linear-to-b from-emerald-950 to-teal-600 text-white" x-data="{ openmenu: false }" :class="openmenu ? 'overflow-y-hidden' : ''">

    {{ partial:header }}

    <main id="main" tabindex="-1" class="flex flex-col flex-grow focus-visible:outline-0 lg:mt-0 mt-12">
      {{ template_content }}
    </main>

    {{ partial:footer }}

    {{ settings:footer_script }}
  </body>

</html>
