<div class="hidden lg:flex h-full w-full justify-between items-center ">

  <nav class="flex gap-8 h-full" aria-label="Main Menu">
    {{ nav:main include_home="false" }}

    <a href="{{ url }}" class="p-2 text-sky-600 flex items-center {{ if is_current || is_parent }} font-bold {{ /if }}">
      {{ title }}
    </a>

    {{ /nav:main  }}
  </nav>

  <form action="/search/">
    <input type="seach" name="q" placeholder="Search..." class="border border-slate-300 rounded-md p-1">
    <button>?</button>
  </form>

  <a href="/feed">
    <span class="sr-only">RSS</span>
    {{ svg src="rss" class="fill-orange-400 hover:fill-red-600 duration-300 size-8 " }}
  </a>


</div>