<div class="hidden lg:flex h-full w-full justify-between items-center ">

  <nav class="flex gap-8 h-full" aria-label="Main Menu">
    {{ nav:main include_home="false" }}

    <a href="{{ url }}" class="p-2 text-sky-600 flex items-center {{ if is_current || is_parent }} font-bold {{ /if }}">
      {{ title }}
    </a>

    {{ /nav:main  }}
  </nav>

  <form action="/search/">
    <input type="seach" name="q" placeholder="Search..." class="border border-slate-300 rounded-md p-1">
    <button class="bg-sky-300 font-bold size-8">?</button>
  </form>


</div>
