<div class="hidden lg:flex h-full w-full justify-between items-center">

  <nav class="flex gap-8 h-full" aria-label="Main Menu">
    {{ nav:main include_home="false" }}

    <a href="{{ url }}"
      class="p-2 border-b-4 text-white uppercase text-xl flex items-center hover:border-green-200 transition-all duration-300 {{ if is_current || is_parent }} font-bold border-green-200 {{ else }} border-transparent {{ /if }}">
      {{ title }}
    </a>

    {{ /nav:main  }}
  </nav>

  {{ partial:menu/menu_casino }}
  {{ partial:menu/menu_categories }}


</div>
