<footer class="py-8 flex flex-col items-center justify-center">

  <div class="pagewidth lg:grid lg:grid-cols-12 flex flex-col-reverse">
    <div class="col-span-4 flex flex-col gap-2">

      <div class="flex flex-row items-center gap-2">
        {{ if brand:logo }}
        <img src="{{ glide :src="brand:logo" w="32" h="32" fit="crop_focal" }}" alt="{{ brand:name }}">
        {{ /if }}

        {{ if brand:name }}
        <h2 class="font-display text-xl">{{ brand:name }}</h2>
        {{ /if }}

      </div>

      <div class="text-sm">{{ footer:flair }}</div>

      {{ if footer:text }}
      <div class="prose-white">{{ footer:text }}</div>
      {{ /if }}
    </div>

    <div class="col-span-8 pb-8">
      {{ partial:menu/menu-footer }}
    </div>
  </div>

  <nav class="flex flex-row flex-wrap items-center justify-center gap-8 w-full mt-8 fill-white">
    {{ partial:social }}

  </nav>


  <div class="text-sm text-center mt-8">{{ footer:copyright }}</div>

</footer>
