<header class=" fixed lg:relative bg-slate-200 flex items-center gap-4 w-full">

  <a href="#main" class="sr-only focus:not-sr-only sr-tab">Skip to Content</a>

  <div class="pagewidth flex flex-row h-full justify-between border-b border-slate-300">

    <div class="flex flex-row">

      {{ partial:header/logo }}

      {{ partial:menu/menu }}
    </div>

    <div class="flex md:hidden items-center justify-center bg-red-300">
      <div class="font-display lowercase text-2xl text-slate-800 text-center">{{ site:name }}</div>
    </div>

    <button @click="openmenu = !openmenu" class="block md:hidden focus:outline-none size-10  cursor-pointer" type="button" aria-label="toggle mobile menu">

      <span x-show="! openmenu">
        {{ svg src="menu" class="size-6" }}
      </span>
      <span x-show="openmenu">
        {{ svg src="close" class="size-6" }}
      </span>

    </button>

  </div>

  {{ partial:menu/menu-mobile }}
</header>