{{ if some:bsky }}
<a href="{{ some:bsky }}" class="block">
  {{ svg src="bluesky" class="size-8 " }}
</a>
{{ /if }}

{{ if some:github }}
<a href="{{ some:github }}" class="block">
  {{ svg src="github" class="size-8 " }}
</a>
{{ /if }}

{{ if some:facebook }}
<a href="{{ some:facebook }}" class="block">
  {{ svg src="facebook" class="size-8 " }}
</a>
{{ /if }}

{{ if some:instagram }}
<a href="{{ some:instagram }}" class="block">
  {{ svg src="instagram" class="size-8 " }}
</a>
{{ /if }}

{{ if some:threads }}
<a href="{{ some:threads }}" class="block">
  {{ svg src="threads" class="size-8 " }}
</a>
{{ /if }}

{{ if some:discord }}
<a href="{{ some:discord }}" class="block">
  {{ svg src="discord" class="size-8 " }}
</a>
{{ /if }}

{{ if some:linkedin }}
<a href="{{ some:linkedin }}" class="block">
  {{ svg src="linkedin" class="size-8 " }}
</a>
{{ /if }}

{{ if some:mastodon }}
<a href="{{ some:mastodon }}" class="block">
  {{ svg src="mastodon" class="size-8 " }}
</a>
{{ /if }}

{{ if some:soundcloud }}
<a href="{{ some:soundcloud }}" class="block">
  {{ svg src="soundcloud" class="size-8 " }}
</a>
{{ /if }}

{{ if some:twitch }}
<a href="{{ some:twitch }}" class="block">
  {{ svg src="twitch" class="size-8 " }}
</a>
{{ /if }}

{{ if some:youtube }}
<a href="{{ some:youtube }}" class="block">
  {{ svg src="youtube" class="size-8 " }}
</a>
{{ /if }}

{{ if some:patreon }}
<a href="{{ some:patreon }}" class="block">
  {{ svg src="youtube" class="size-8 " }}
</a>
{{ /if }}
