{{ if some:bsky }}
<a href="{{ some:bsky }}" class="block">
  {{ svg src="bluesky" class="fill-slate-600 hover:fill-slate-800 duration-300 size-8 " }}
</a>
{{ /if }}

{{ if some:github }}
<a href="{{ some:github }}" class="block">
  {{ svg src="github" class="fill-slate-600 hover:fill-slate-800 duration-300 size-8 " }}
</a>
{{ /if }}

{{ if some:facebook }}
<a href="{{ some:facebook }}" class="block">
  {{ svg src="facebook" class="fill-slate-600 hover:fill-slate-800 duration-300 size-8 " }}
</a>
{{ /if }}

{{ if some:instagram }}
<a href="{{ some:instagram }}" class="block">
  {{ svg src="instagram" class="fill-slate-600 hover:fill-slate-800 duration-300 size-8 " }}
</a>
{{ /if }}

{{ if some:threads }}
<a href="{{ some:threads }}" class="block">
  {{ svg src="threads" class="fill-slate-600 hover:fill-slate-800 duration-300 size-8 " }}
</a>
{{ /if }}

{{ if some:discord }}
<a href="{{ some:discord }}" class="block">
  {{ svg src="discord" class="fill-slate-600 hover:fill-slate-800 duration-300 size-8 " }}
</a>
{{ /if }}

{{ if some:linkedin }}
<a href="{{ some:linkedin }}" class="block">
  {{ svg src="linkedin" class="fill-slate-600 hover:fill-slate-800 duration-300 size-8 " }}
</a>
{{ /if }}

{{ if some:mastodon }}
<a href="{{ some:mastodon }}" class="block">
  {{ svg src="mastodon" class="fill-slate-600 hover:fill-slate-800 duration-300 size-8 " }}
</a>
{{ /if }}

{{ if some:soundcloud }}
<a href="{{ some:soundcloud }}" class="block">
  {{ svg src="soundcloud" class="fill-slate-600 hover:fill-slate-800 duration-300 size-8 " }}
</a>
{{ /if }}

{{ if some:twitch }}
<a href="{{ some:twitch }}" class="block">
  {{ svg src="twitch" class="fill-slate-600 hover:fill-slate-800 duration-300 size-8 " }}
</a>
{{ /if }}

{{ if some:youtube }}
<a href="{{ some:youtube }}" class="block">
  {{ svg src="youtube" class="fill-slate-600 hover:fill-slate-800 duration-300 size-8 " }}
</a>
{{ /if }}

{{ if some:patreon }}
<a href="{{ some:patreon }}" class="block">
  {{ svg src="youtube" class="fill-slate-600 hover:fill-slate-800 duration-300 size-8 " }}
</a>
{{ /if }}