<!-- 👋 resources/views/partials/cards/_card.antlers.html -->
<article class="bg-white/90 text-black rounded-md shadow-lg">

  {{ if image_card or primary_image }}
  <a href="{{ url }}" class="">
    <div class="w-full aspect-video">
      <img src="{{ glide :src="image_card ?? primary_image" w="400" h="200" fit="crop_focal" }}" alt="{{ image_card:alt ?? primary_image:alt }}"
        class="aspect-video w-full h-full object-cover rounded-t-md" loading="lazy" />
    </div>
  </a>
  {{ else }}
  <a href="{{ url }}">
    <div class="w-full aspect-video">
      <div class="bg-radial from-red-700 to-red-900 transition-all duration-300 hover:from-red-800 w-full aspect-video text-sm flex items-center justify-center">

        {{ svg src="chip" class="size-16" }}
      </div>
    </div>
  </a>
  {{ /if }}

  <div class="p-2">
    <a href="{{ url }}" class="">
      <h2 class="text-2xl font-bold">
        {{ title_card or title }}
      </h2>
    </a>

    {{ if teaser_card }}
    <div class="">{{ teaser_card }}</div>
    {{ /if }}

    {{ if categories }}
    <div class="text-xs text-gray-700 float-end">
      {{ categories }}
      {{ if count > 0 }}
      {{ scope }}
      <div>{{ title }}</div>
      {{ /scope }}
      {{ /if }}
      {{ /categories }}
    </div>
    {{ /if }}
  </div>
</article>
