<a href="{{ url }}">
  <article class="rounded-sm  bg-green-800 text-white shadow-md flex flex-row gap-2">

    <div class="w-20 h-20 aspect-square">
      {{ if image_card or primary_image }}
      <img src="{{ glide :src="image_card ?? primary_image" w="200" h="200" fit="crop_focal" }}" alt="{{ image_card:alt ?? primary_image:alt }}"
        class="aspect-video w-full h-full object-cover rounded-l-md" loading="lazy" />
      {{ else }}
      <div class="bg-red-700 w-full aspect-square text-sm flex items-center justify-center">x</div>
      {{ /if }}
    </div>

    <div class="p-2">
      <h2 class="font-bold text-green-200">
        {{ title_card or title }}
      </h2>

      {{ if teaser_card }}
      <div class="text-sm line-clamp-2 text-green-200">{{ teaser_card }}</div>
      {{ /if }}
    </div>
  </article>
</a>
