<article class="bg-white border border-slate-200 rounded-lg shadow-lg">

  {{ if image_card or primary_image }}
  <a href="{{ url }}" class="">
    <div class="w-full aspect-video">
      <img src="{{ glide :src="image_card ?? primary_image" w="400" h="200" fit="crop_focal" }}" alt="{{ image_card:alt ?? primary_image:alt }}"
        class="aspect-video w-full h-full object-cover rounded-t-lg" loading="lazy" />
    </div>
  </a>
  {{ else }}
  <a href="{{ url }}">
    <div class="w-full aspect-video">
      <div class="bg-slate-200 hover:bg-slate-300 transition-all w-full aspect-video text-sm flex items-center justify-center">img missing</div>
    </div>
  </a>
  {{ /if }}

  <div class="p-2">
    <a href="{{ url }}" class="">
      <h2 class="text-2xl font-bold">
        {{ title_card or title }}
      </h2>
    </a>


  </div>
</article>
