{{# Define a variable with the style classes #}}
{{ classes = [
  'primary'   => 'bg-linear-to-b from-green-900 to-green-700 hover:from-green-800 hover:to-green-600 transition-all duration-200 text-white',
  'secondary' => 'bg-linear-to-b from-red-900 to-red-700 hover:from-red-800 hover:to-red-600  text-white',
  'link'      => 'underline'
] }}

<div class="flex items-center w-full mt-4">

  <a href="{{ button_link }}" class="w-full px-3 py-2 rounded-lg flex flex-flow justify-center font-bold uppercase items-center gap-2 {{ classes[button_style] ?? 'default-class' }} ">
    <div class="size-5">
      {{ button_icon}}
    </div>
    <div>
      {{ button_title }}
    </div>
  </a>
</div>
