{{ if verification.google_site_verification }}
<meta name="google-site-verification" content="{{ verification.google_site_verification }}" />{{ /if }}
{{ if verification.mastodon_verification }}
<link rel="me" href="{{ verification.mastodon_verification }}">{{ /if }}
{{ if verification.github_verification }}
<link rel="me" href="{{ verification.github_verification }}">{{ /if }}
{{ if verification.pinterest_verification }}
<meta name="p:domain_verify" content="{{ verification.pinterest_verification }}" />{{ /if }}