<section class="{{ section_width }} {{ section_height }} {{ section_height_lg }} {{ style:color_themes[color_theme] ?? '' }} ">

  {{ if title or text }}
  <article class="pagewidth">
    {{ if title }} <h2 class="text-3xl lg:text-7xl"> {{ title }}</h2>{{ /if}}
    {{ if text }}<p class="text-sm text-slate-500"> {{ text }}</p>{{ /if}}
  </article>
  {{ /if }}


  <div class="pagewidth grid {{ columns_mobile ?? 'grid-cols-1' }} {{ columns ?? 'md:grid-cols-3' }} gap-4">


    {{ if selected_collection }}

    {{ collection from="{ selected_collection | join('|') }"
            taxonomy:category="{ selected_category | pluck:slug | join('|') ?? false }"
            taxonomy:tags="{ selected_tag | pluck:slug | join('|') ?? false }"
            limit="{ number_of_entries ?? 10 }"
            sort="{sorting}:{direction}"

    }}
    {{ partial:cards/card }}
    {{ /collection }}

    {{ /if }}



    {{ if entries}}
    {{ entries | scope('entries') }}
    {{ partial:cards/card }}
    {{ /entries }}
    {{ /if }}


  </div>

</section>
