<section class="{{ section_width }} {{ section_height }} {{ section_height_lg }} {{ style:color_themes[color_theme] ?? '' }} ">

  {{ if title or text }}
  <article class="pagewidth">
    {% if title %} <h2 class="text-3xl lg:text-7xl"> {{ title }}</h2>{% endif %}
    {{ if text }}<p class="text-sm text-slate-500"> {{ text }}</p>{{ /if}}
  </article>
  {{ /if }}

  <div class="pagewidth grid {{ columns_mobile}} {{ columns }} gap-4">
    {{ entries | scope('entries') }}
    {{ partial:cards/card }}
    {{ /entries }}
  </div>

</section>
