<section class="{{ section_width }} {{ section_height }} {{ section_height_lg }} {{ style:color_themes[color_theme] ?? '' }} ">

  {{ if title or text }}
  <article class="pagewidth">
    {{ if title }} <h2 class="text-3xl lg:text-7xl"> {{ title }}</h2>{{ /if}}
    {{ if text }}<p class="text-sm text-slate-500"> {{ text }}</p>{{ /if}}
  </article>
  {{ /if }}


  <div class="pagewidth grid {{ columns_mobile ?? 'grid-cols-1' }} {{ columns ?? 'md:grid-cols-3' }} gap-4">

    {{ if entries}}
    {{ entries | scope('entries') }}
    {{ partial:cards/card }}
    {{ /entries }}
    {{ /if }}


    {{ if selected_collection }}

    {{# taxonomy #}}
    {{ if selected_term and selected_taxonomy }}

    {{ if selected_taxonomy == "category" }}

    {{ collection from="{selected_collection | join('|')}"
            taxonomy:category="{selected_term | pluck:slug | join('|')}"
            limit="{number_of_entries}"
            sort="date" dir="desc"
        }}
    {{ partial:cards/card }}
    {{ /collection }}
    {{/if}}


    {{ if selected_taxonomy == "casino" }}

    {{ collection from="{selected_collection | join('|')}"
            taxonomy:casino="{selected_term | pluck:slug | join('|')}"
            limit="{number_of_entries}"
            sort="date" dir="desc"
        }}
    {{ partial:cards/card }}
    {{ /collection }}
    {{/if}}



    {{# all the shit #}}
    {{ else }}

    {{ collection from="{selected_collection | join('|')}"
            limit="{number_of_entries}"
            sort="date" dir="desc"
        }}

    {{ partial:cards/card }}

    {{ /collection }}

    {{ /if }}

    {{ /if }}




  </div>




</section>
