<section class="{{ section_width }} {{ section_height }} {{ section_height_lg }} {{ style:color_themes[color_theme] ?? '' }} ">

  <div class="pagewidth flex flex-col gap-2 lg:grid lg:grid-cols-12 lg:gap-4 py-8">

    <div class="lg:col-span-8">
      {{ primary }}
      {{ partial:cards/card-primary }}
      {{ /primary }}
    </div>

    <div class="lg:col-span-4 flex flex-col justify-between">
      {{ secondary }}
      {{ partial:cards/card-image-text }}
      {{ /secondary }}
    </div>

  </div>

</section>
