<nav class="border border-green-400 mt-12 w-64">
  {{ slot }}

  {{ collection:blog :limit="limit" }}

  <a href="{{ url }}" class="flex flex-col items-center justify-between p-5 border-t border-green-400 text-green-400 hover:text-green-900 hover:bg-green-400">
    <h3>{{ title }}</h3>
    <time class="text-green-900 text-sm">{{ date }}</time>

    {{ if primary_image }}
    <img src="{{ glide :src="primary_image" w="60" h="60" fit="crop_focal" }} " alt="{{ primary_image:alt }}" class="">
    {{ /if }}
  </a>


  {{ /collection:blog }}
</nav>