<section class="pagewidth">
  <h1 class="text-7xl font-bold my-6">Nyt</h1>

  <div class="prose">
    {{ content }}
  </div>
</section>

{{ collection:blog paginate="10" as="posts" }}

{{ if no_results }}Ingen Post{{ /if }}


<section class="pagewidth grid grid-cols-4 gap-4">
  {{ posts }}
  {{ partial:cards/card }}
  {{ /posts }}
</section>

<div class="flex justify-center mt-6">
  {{ paginate }}

  {{ if prev_page }}
  <a href="{{ prev_page }}" class="bg-amber-100 p-2">⬅ Previous</a>
  {{/if}}

  <div class=" text-sm text-slate-400">
    {{ current_page }} of {{ total_pages }} pages
    (There are {{ total_items }} posts)
  </div>


  {{ if next_page }}
  <a href="{{ next_page }}" class="bg-amber-100 p-2">Next ➡</a>
  {{ /if }}


  {{ /paginate }}
</div>

{{ /collection:blog }}
