<!-- 👋 resources/views/partials/banner/banner.antlers.html -->
<article class="bg-white text-black p-4 flex flex-row gap-2 w-full relative rounded-lg">

  <div class="w-1/3">
    {{ if primary_image }}
    <div class="aspect-square">
      <img src="{{ glide :src="primary_image" w="800" h="600" fit="crop_focal" }}" alt="{{ primary_image:alt }}" class="w-full h-full object-cover" loading="eager" />
    </div>
    {{ /if }}
  </div>

  <div class="w-2/3 flex flex-col justify-between">

    <div>
      {{ if title }}
      <h3 class="text-3xl font-semibold">{{ title }}</h3>
      {{ /if }}

      {{ if markdown }}
      <div class="text-gray-800 text-base leading-tight mt-2">
        {{ markdown}}
      </div>
      {{ /if }}

      {{ if terms }}
      <div class="text-gray-600 text-xs mt-2">
        {{ terms }}
      </div>
      {{ /if }}
    </div>

    <div class="mt-2">
      {{ cta }}
      {{ partial:buttons/button }}
      {{ /cta}}
    </div>

  </div>
</article>
