<!-- 👋 resources/views/partials/banner/banner.antlers.html -->
<article class="bg-white border-b border-gray-200 p-4 flex flex-row gap-2 w-full relative rounded-lg">

  <div class="w-1/3">

    {{ if primary_image }}
    <div class="aspect-video">
      <img src="{{ glide :src="primary_image" w="800" h="600" fit="crop_focal" }}" alt="{{ primary_image:alt }}" class="w-full h-full object-cover" loading="eager" />
    </div>
    {{ /if }}
  </div>

  <div class="w-2/3 flex flex-col justify-between">
    <h3 class="text-xl">{{ title }}</h3>
    <div>

      <div class="text-gray-800 text-base leading-tight">
        {{ markdown}}
      </div>

      <div class="text-gray-600 text-xs mt-2">
        {{ terms }}
      </div>
    </div>

    <div class="mt-2">
      {{ cta }}
      {{ partial:buttons/button }}
      {{ /cta}}
    </div>

  </div>
</article>
