<h1 class="text-7xl font-bold mb-4 pagewidth">
  {{ title }}
</h1>

<div class="w-full aspect-video h-32">
  {{ if image }}
  <img src="{{ glide :src="image" w="900" h="300" fit="crop_focal" }}" alt="{{ image:alt }}" class="w-full h-full object-cover" loading="eager" />
  {{ /if }}
</div>

Blocks
{{ blocks }}
{{ partial src="components/{type}" }}
{{ /blocks }}

Bard
{{ bard }}
{{ partial src="components/{type}" }}
{{ /bard }}

{{# Get the categoried term and use that slug form the as the selector #}}
{{ categories }}

<h2 class="text-8xl">SPIL</h2>
<div class="grid grid-cols-2 pagewidth gap-4">
  {{ collection:spil taxonomy:categories="{slug}" }}

  {{ partial:cards/card-spil }}

  {{ /collection:spil }}
</div>
{{ /categories }}
